body {
    background-image: url(/resources/favicon.png);
    margin: 0;
}

.main .head{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color:rgb(41, 44, 44);
    border-bottom: 2px dashed darkmagenta;
}

.main .head .logo {
    width: 50px;
    position: relative;
}
.main .head .info {
    right: 20px;
    position: inherit;
    background-color: inherit;
    align-content: center;
}

.main .head .contact {
    margin-top: 25px;
}
.main .head .info,
.main .head span,
.main .head a {
    color: whitesmoke;
    font-size: large;
}

.content {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.content .panel{
    position: relative;
    background-color: blanchedalmond;
    width: 512px;
    height: 384px;
    border: 1px solid blue;
}

.content .controls,
.content .input-panel {
    margin-top: 5px;
}

.content .input-panel input[type="text"]{
    width: 200px;
}

.content .input-panel #city{
    width: 300px;
    color: tomato;
}
.content .controls input[type="button"]{
    background-color: chartreuse;
    color: black;
    width: 200px;
}
.foot {
    margin-top: 30px;
    border: 1px solid black;
}
@media screen and (min-width: 600px){
    .main {
        border: 1px solid black;
        background-color: aliceblue;
    }
}

@media screen and (max-width: 500px){
    .content .panel{
        position: relative;
        background-color: blanchedalmond;
        width: 320px;
        height: 240px;
        border: 1px solid blue;
    }
}