body {
    background-image: url(resources/wallpaper_landscape.jpeg);
    background-size: cover;
    margin: 0;
}

.main .head{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color:rgb(41, 44, 44);
    border-bottom: 2px dashed darkmagenta;
}

.main .head .logo {
    width: 50px;
    position: relative;
}
.main .head .info {
    right: 20px;
    position: inherit;
    background-color: inherit;
    align-content: center;
}

.main .head .contact {
    margin-top: 25px;
}
.main .head .info,
.main .head span,
.main .head a {
    color: whitesmoke;
    font-size: large;
}

.content {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.content .panel{
    position: relative;
    background-color: transparent;
    width: 512px;
    height: 384px;
}

.content .panel #webcam{
    width: 100%;
    height: 100%;
}

.content .controls,
.content .input-panel,
.content .output-panel {
    margin-top: 10px;
}

.content .input-panel input[type="text"]{
    width: 200px;
    border: none;
    border-bottom: 1px solid gray;
}
.content .input-panel #gender{
    width: 100px;
    border: none;
}
.content .input-panel #city{
    margin-top: 5px;
    width: 310px;
    border: none;
}
.content .controls {
    justify-content: center;
    align-items: center;
}

.content .controls input[type="button"]{
    background-color: chartreuse;
    color: black;
    width: 100px;
    display:inline-flex;
    flex-direction: rows;
}

.content .output-panel {
    height: 50px;
    width: 80%;
    border: 1px solid black;
}

@media screen and (max-width: 500px) and (min-height: 600px){
    body{
        background-image: url(resources/wallpaper_portrait.jpeg);
        background-size: auto;
    }
    .content .panel{
        position: relative;
        width: 320px;
        height: 240px;
    }

    .content .controls input[type="button"]{
        width: 100px;
        display:flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .content .output-panel {
        height: 200px;
        width: 80%;
        border: 1px solid black;
    }
}